@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* 상단 영역 (GNB) */

body{
    font-family: 'Noto Sans KR', sans-serif;
}

#header .header-wrap{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

#header .header-wrap .logo{
    position: absolute;
    left: 80px;
    top: 26px;
}

#gnb{
    width: 945px;
    height: 99px;
    margin: 0 auto;
    /* background-color: burlywood; */
}

#gnb .inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 945px;
    height: 99px;
}

#gnb .inner li{ 
    float: left;
}

#gnb .inner li a{
    font-weight: 500;
    color: #666;
}

#utility {
    position: absolute;
    right: 80px;
    top: 26px;
    /* background-color: aquamarine; */
}

#utility .sns, #utility .global{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 50px;
    text-align: center;
    padding-top: 18px;
    box-sizing: border-box;
    font-weight: 600;
    font-family: 'Lexend';
    /* background-color: red; */
}

#utility .sns a, #utility .global a{
    font-size: 15px;
    font-weight: 700;
    color: #c3c3c3;
}

#utility .sns a::after, #utility .global a::after {
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    margin: -2px 0 0 4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #c3c3c3;
    vertical-align: middle;
}

#header .header-wrap{
    border-bottom: 1px solid #dcdcdc;;
}

/* contents section */
#contents{
    position: relative;
    min-width: 1280px;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 99px;
    padding: 0 80px;
    box-sizing: border-box;
}

#contents .inner {
    margin-bottom: 40px;
}

#contents .inner .link_page{
    padding: 80px 0 24px;
    line-height: 1;
}

#contents .inner .link_page span{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #999;
}

#contents .inner .link_page a{
    color: #999;
}

#contents .inner .link_page span:not(:first-child):before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: -2px 11px 0 8px;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    transform: rotate(45deg);
}

#contents .inner .link_page span:first-child a{
    display: block;
    width: 14px;
    height: 12px;
    background-image: url('../img/ico_img/ico_home.png');
    background-repeat: no-repeat;
    font-size: 0;
}

#contents .inner .link_page span:last-child a{
    text-decoration: underline;
}

#contents .inner .page_title{
    font-size: 40px;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
}

#contents .inner .tap_menu{
    margin: 40px 0 63px;
}

#contents .inner .tap_menu ul{
    display: flex;
    flex-wrap: nowrap;
}

#contents .inner .tap_menu ul li.on a{
    background: #1dcb5d;
    color: #fff;
}

#contents .inner .tap_menu ul li.on a:hover{
    background-color: #f5f5f5;
    color: #999;
}
#contents .inner .tap_menu ul li a:hover{
    background-color: #f5f5f5;
    color: #999;
}

#contents .inner .tap_menu ul li a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    text-align: center;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #999;
}

#contents .inner .sub_tap_menu ul{
    display: flex;
    flex-wrap: wrap;
}

#contents .inner .sub_tap_menu ul li{
    margin-left: 40px;
}

#contents .inner .sub_tap_menu ul li:first-child{
    margin-left: 0;
}

#contents .inner .sub_tap_menu ul li a{
    padding-bottom: 10px;
    font-size: 16px;
    color: #999;
    box-sizing: border-box;
}
/* product_contents section */
#product_contents .inner{
    position: relative;
    margin-bottom: 115px;
    width: 100%;
    height: calc(100vh - 100px);
}

#product_contents .inner .bg{
    width: 100%;
    height: 100%;
    background-image: url('../img/bg_food_cup_img.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#product_contents .inner .text{
    position: absolute;
    width: 100%;
    top: 7%;
    text-align: center;
    color: #222;
}

#product_contents .inner .text h3{
    font-size: 26px;
    font-weight: 700;
    line-height: 72px;
}

#product_contents .inner .text p {
    display: block;
    font-size: 90px;
    font-weight: 700;
}

#product_contents .inner .text p:last-child{
    display: inline-block;
    padding: 0 25px;
    border-radius: 24px;
    line-height: 46px;
    border: 1px solid #222;
    font-size: 16px;
    margin-top: 25px;
}

/* eco_contents section */
#eco_contents {
    position: relative;
    min-width: 1280px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 80px;
    box-sizing: border-box;
}

#eco_contents .inner .text p{
    font-size: 32px;
    font-weight: 600;
    color: #222;
}

#eco_contents .inner .product_feature{
    margin: 115px 0 120px;
}

#eco_contents .inner .product_feature .text p:first-child{
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    color: #1dcb5d;
}

#eco_contents .inner .product_feature .text h3{
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 600;
    color: #222;
}

#eco_contents .inner .product_feature .text p:last-child{
    font-size: 28px;
    font-weight: 600;
    line-height: 44px;
}

#eco_contents .inner .feature_img{
    margin: 80px 0;
}

#eco_contents .inner .feature_img ul{
    display: flex;
    flex-wrap: nowrap;
}

#eco_contents .inner .feature_img ul li{
    width: 160px;
    margin-right: 20px;
    padding: 12px 0 130px;
    border-top: 3px solid #1dcb5d;
    background-position: 0 70px;
    background-repeat: no-repeat;
    font-weight: 500;
    font-size: 18px;
    color: #1dcb5d;
}

#eco_contents .inner .feature_img ul li:nth-child(1){
    background-image: url(../img/ico_img/ico_recycle.png);
}
#eco_contents .inner .feature_img ul li:nth-child(2){
    background-image: url(../img/ico_img/ico_tree.png);
}
#eco_contents .inner .feature_img ul li:nth-child(3){
    background-image: url(../img/ico_img/ico_hands.png);
}
#eco_contents .inner .feature_img ul li:nth-child(4){
    background-image: url(../img/ico_img/ico_fire.png);
}

/* table section */
table{
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
}

#table_wrap {
    margin-top: 120px;
}

#table_wrap table{

    text-align: center;
}

#table_wrap table thead{
    border-top: 3px solid #222;
    border-bottom: 1px solid #ddd;
}

#table_wrap table thead th{
    height: 65px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    vertical-align: middle;
}

#table_wrap table tbody th, #table_wrap table tbody td{
    border-bottom: 1px solid #ddd;
    line-height: 1.5;
    font-size: 22px;
    font-weight: 600;
    box-sizing: border-box;
    height: 179px;
    text-align: center;
    vertical-align: middle;
}
#table_wrap table tbody th{
    text-align: left;
}

#table_wrap table p{
    font-size: 16px;
    font-weight: 400;
}

#table_wrap table strong{
    font-size: 36px;
}

#table_wrap table tbody tr:last-child th, #table_wrap table tbody tr:last-child td  {
    color: #bbb;
}

/* example section */

#example .inner{
    position: relative;
    min-width: 1200px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 80px;
    box-sizing: border-box;
}

#example .inner p{
    font-size: 18px;
    color: #1dcb5d;
}

#example .inner .bg{
    margin-top: 60px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 10%);
}

/* confirm section */

#confirm {
    position: relative;
    min-width: 1280px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 80px;
    box-sizing: border-box;
}

#confirm .inner h3{
    position: relative;
    margin-top: 120px;
    padding-bottom: 25px;
    border-bottom: 2px solid #222;
    font-size: 36px;
    color: #222;
    box-sizing: border-box;
}

#confirm .inner h3 a{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    padding: 0 24px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    color: #666;
    text-align: center;
    vertical-align: middle;
}

#confirm .inner h3 a:hover{
    background-color: #f5f5f5;
}

#confirm a img {
    width: 15px;
    height: 15px;
    margin-right: 16px;
}

#confirm .inner .confirm_test{
    margin-top: 60px;
    height: 720px;
}

#confirm .inner .confirm_test .bg_box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background-color: #f5f5f5;
}

#confirm .inner .confirm_test .text ul{
    position: absolute;
    width: 45%;
    top: 25%;
    right: 0;
}

#confirm .inner .confirm_test .text ul li{
    display: block;
    height: 88px;
    padding-left: 10px;
    box-sizing: border-box;
    line-height: 88px;
    font-size: 20px;
    color: #222;
    border-top: 1px solid #ddd;
}

#confirm .inner .confirm_test .text ul li:last-child{
    border-bottom: 1px solid #ddd;
}

#table_wrap2 table thead th{
    height: 65px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    vertical-align: middle;
    text-align: center;
}

#table_wrap2 table tbody td{
    padding: 50px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 22px;
}


/* footer */

#footer {
    position: relative;
    padding: 50px 0 80px;
    margin-top: 120px;
    background-color: #f5f5f5;
}

#footer .inner{
    position: relative;
    min-width: 1200px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 80px;
    box-sizing: border-box;
}

#footer .footer_text{
    margin-top: 20px;
    font-size: 12px;
    color: #ababab;
}

#footer .footer_text ul li{
    display: inline-block;
}

#footer .footer_text li:not(:first-child)::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 12px;
    margin: -2px 10px 0;
    background: #ddd;
}

#footer .footer_text ul li:nth-child(4){
    display: inline-block;
    font-weight: 600;
    color: #999;
}

#footer .inner .copy{
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #ababab; 
    font-style: normal;
}
#footer .inner .page_move:hover{
    background-color: #9b9b9b;
}
#footer .inner .page_move{
    position: absolute;
    right: 80px;
    top: 10px;
    line-height: 36px;
    border-radius: 18px;
    padding: 0 30px;
    background: #cacaca;
    color: #fff;
    font-size: 13px;
    box-sizing: border-box;
}

#footer .inner .page_move i{
    position: relative;
    top: -2px;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 7px;
    border-top: 2px solid #e4e4e4;
    border-right: 2px solid #e4e4e4;
}
#footer .inner .page_move i::after{
    content: '';
    position: absolute;
    right: 2px;
    top: -2px;
    display: block;
    width: 2px;
    height: 10px;
    background: #e4e4e4;
    transform: rotate(45deg);
}
#footer .inner .top:hover{
    background-color: black;
}
#footer .inner .top{
    position: fixed;
    width: 36px;
    height: 36px;
    right: 80px;
    bottom: 30px;
    border-radius: 50%;
    background: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .inner .top i{
    position: relative;
    display: inline-block;
    width: 3px;
    height: 18px;
    background-color: #fff;
}

#footer .inner .top i:before{
    content: '';
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: #fff;
    top: -1px;
    right: 50%;
    margin-right: 1.5px;
    transform: rotate(45deg);
}

#footer .inner .top i:after{
    content: '';
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: #fff;
    top: -1px;
    left: 100%;
    margin-right: 1.5px;
    transform: rotate(135deg);
}







