@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* 상단 영역 (GNB) */

body{
    font-family: 'Noto Sans KR', sans-serif;
}

#wrap{
    letter-spacing: -0.1em;
}

#header .header-wrap{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

#header .header-wrap .logo{
    position: absolute;
    left: 80px;
    top: 26px;
}

#gnb{
    width: 945px;
    height: 99px;
    margin: 0 auto;
    /* background-color: burlywood; */
}

#gnb .inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 945px;
    height: 99px;
}

#gnb .inner li{ 
    float: left;
}

#gnb .inner li a{
    font-weight: 500;
    color: #666;
}

#utility {
    position: absolute;
    right: 80px;
    top: 26px;
    /* background-color: aquamarine; */
}

#utility .sns, #utility .global{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 50px;
    text-align: center;
    padding-top: 18px;
    box-sizing: border-box;
    font-weight: 600;
    font-family: 'Lexend';
    /* background-color: red; */
}

#utility .sns a, #utility .global a{
    font-size: 15px;
    font-weight: 700;
    color: #c3c3c3;
}

#utility .sns a::after, #utility .global a::after {
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    margin: -2px 0 0 4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #c3c3c3;
    vertical-align: middle;
}

#header .header-wrap{
    border-bottom: 1px solid #dcdcdc;;
}


/* contents 영역 */

#contents{
    position: relative;
    min-width: 1280px;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 99px;
    padding: 0 80px;
    box-sizing: border-box;
}

#contents .inner {
    margin-bottom: 40px;
}

#contents .inner .link_page{
    padding: 80px 0 24px;
    line-height: 1;
}

#contents .inner .link_page span{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #999;
}

#contents .inner .link_page a{
    color: #999;
}

#contents .inner .link_page span:not(:first-child):before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: -2px 11px 0 8px;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    transform: rotate(45deg);
}

#contents .inner .link_page span:first-child a{
    display: block;
    width: 14px;
    height: 12px;
    background-image: url('../img/ico_img/ico_home.png');
    background-repeat: no-repeat;
    font-size: 0;
}

#contents .inner .link_page span:last-child a{
    text-decoration: underline;
}

#contents .inner .page_title{
    font-size: 40px;
    font-weight: 700;
    color: #222;
}

#contents .inner .tap_menu{
    margin: 40px 0 63px;
}

#contents .inner .tap_menu ul{
    display: flex;
    flex-wrap: nowrap;
}

#contents .inner .tap_menu ul li.on a{
    background: #1dcb5d;
    color: #fff;
}

#contents .inner .tap_menu ul li.on a:hover{
    background-color: #f5f5f5;
    color: #999;
}
#contents .inner .tap_menu ul li a:hover{
    background-color: #f5f5f5;
    color: #999;
}

#contents .inner .tap_menu ul li a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    text-align: center;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #999;
}

#identity .inner{
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
}

#identity .inner .bg{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/identity_bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#identity .inner .text {
    position: absolute;
    min-width: 1280px;
    max-width: 1600px;
    top: 45%;
    left: 10%;
}

#identity .inner .text h3{
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    color: #fff;
}

#des {
    position: relative;
    min-width: 1280px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 80px;
    padding-top: 113px;
    box-sizing: border-box;
}

#des .inner .text_box .title{
    border-bottom: 2px solid #222222;
    padding-bottom: 12px;
    font-size: 32px;
    color: #222222;
    font-weight: 600;
}

#des .inner .text_box .title_des{
    margin-top: 41px
}

#des .inner .text_box .title_des p{
    font-size: 18px;
    color: #666;
}

#des .inner .text_box .title.two{
    margin-top: 110px;
}

#des .inner .text_box .title.two{
    position: relative;
    /* background-color: red; */
}

#des .inner .text_box .title.two p{
    display: inline-block;
}

#des .inner .text_box .title.two a{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: border-box;
}

#des .inner .text_box .title.two .arr{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 2px;
    margin-top: -6px;
    margin-left: 8px;
    background-color: #1dcb5d;
    transform: rotate(90deg);
}